.tag {
    text-align: center;
}
  

.slick-dots {
    position: unset;
    bottom:unset;
    height:unset;
    margin-top: 10px;
}


.slick-slider{
  width:90%;

}

.main-container {
  display: flex;
  flex-direction: column;
  transform: skew(14deg);
}

.header {
  color: white;
  text-align: center;
}

.image-carousel {
  display: flex;
  width: '100vw';
  margin-top: 20;

}