.tag {
    text-align: center;
}
  

.slick-dots {
    position: unset;
    bottom:unset;
    height:unset;
    margin-top: 0px;
}
/* 
.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 20px;
}

.slick-prev:before {
  content: '<';
}

.slick-next:before {
  content: '>';
} */

.main-container {
  display: flex;
  flex-direction: column;
}

.header {
  color: white;
  text-align: center;
}

.image-carousel {
  display: flex;
  justify-content: center;
 
  
}