.tag {
    text-align: center;
}
  

.slick-dots {
    position: unset;
    bottom:unset;
    height:unset;
    margin-top: 10px;
}

.slick-prev:before,
.slick-next:before {
  color: white;
  font-size: 20px;
}

.slick-prev:before {
  content: '<';
}

.slick-next:before {
  content: '>';
}
.slick-slider{
  width:50%;

}

.main-container {
  background-color: #36454F;
  display: flex;
  flex-direction: column;
}

.header {
  color: white;
  text-align: center;
}

.image-carousel {
  display: flex;
  justify-content: center;
  margin-top: 20;
  
}