ul-features {
    padding: 0 0;
    margin: 0 0;
    align-items: center;
    height: 100%;
    padding: 10px 0px;
    position: relative;
    justify-content: center;

}

li {
    margin-top: 10px;
}

.list-container{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    
    border-radius: 13px;
    padding: 0px 10px 10px;
}



h3.fade-in {
    animation: slide-in 0.5s ease-in-out;
    
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  

ul.slide-in {
    animation: slide-in 0.5s ease-in-out;
  }
  
  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  